
/* FONT DECLARATIONS*/
@font-face {
    font-family: Comic;
    src: url(/static/assets/fonts/dpcomic.ttf);
}
@font-face {
    font-family: 'Headerfont' ;
    src: url(/static/assets/fonts/ComicSansMSPixel.ttf);
}

.intro {
    max-width: 50%;
    text-align: left;
    padding-left: 10px; 
    margin-top: 110px;
    transform: translateX(-105px);
}

.intro h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #a4a4a4;
}

.intro h2 {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 2.5px #a8a8a8, 0 0 5px #B0B0B0, 0 0 7.5px #B0B0B0, 0 0 10px #B0B0B0, 0 0 12.5px #B0B0B0, 0 0 15px #B0B0B0, 0 0 22.5px #B0B0B0;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.6rem;
    color: #B0B0B0;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 25px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.illustration img {
    max-width: 100%;
    height: auto;
    border: 10px groove white;
    box-shadow: 4px 4px 0 #000, 4px 4px 0 1px #000;
}
.container { 
    display: inline-block;
    margin-bottom: 20px;
}

.text {
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; /* Adds Text Border in form of Small text shadow */
    color: aliceblue;
    font-size: 90px;
    font-family: Comic;
    position: absolute;
    transform: translateX(-50%); 
    text-align: center;
    left: 22.5%;
    top: 5%; 
    border-right: 5px solid;
    width: 11ch;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(43, end),
        cursor-blink 0.75s steps(1) infinite;
}
/*Cursor blinking*/ 
@keyframes cursor-blink {
    50% { border-color: transparent;}
    
    
}
@keyframes typing {
   from { width: 0}
    to { width: 12ch}
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.navbar ul {
    background: rgba(173, 171, 171, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(173, 171, 171, 0.34);
    list-style-type: none;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 80%;
}

.navbar li {
    margin: 0 5px;
    flex: 1;
}

.navbar a {
    background: rgba(173, 171, 171, 0.13);
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(173, 171, 171, 0.34);
    font-family: 'Headerfont', Comic;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 5px 8px;
    display: block;
    text-align: center;
    white-space: nowrap; 
}

.navbar a:hover {
    background-color: rgb(1, 188, 188);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 50px 50px 50px;
}

body {
    margin: 0;
    font-family: 'Headerfont' , 'Comic';
    background-size: cover;
    background-position: center;
    background-color: #121212;
    color: #E0E0E0;
}
@media (max-width: 430px) {
    .text {
        font-size: 60px;
    }

    .intro, .illustration {
        max-width: 100%;
    }

    .aboutinfo {
        font-size: 28px; 
        top: 50%;
    }

    .navbar a {
        font-size: 24px; 
        padding: 12px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .navbar ul {
        left: 20px;
        right: 20px;
        bottom: 30px;
    }
}

/* (iPhone 14 Plus, iPhone 14 Pro Max) */
@media (max-width: 844px) and (min-width: 431px) {
    .text {
        font-size: 70px;
    }

    .intro, .illustration {
        max-width: 100%;
    }

    .aboutinfo {
        font-size: 30px; 
        top: 45%;
    }

    .navbar a {
        font-size: 28px;
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
    }

    .navbar ul {
        left: 30px;
        right: 30px;
        bottom: 40px;
    }
}

/* Media query for desktop */
@media only screen and (min-width: 1024px) {
    .text {
        font-size: 90px;
    }

    .aboutinfo {
        font-size: 35px;
        top: 40%;
    }

    .navbar ul {
        width: 80%;
    }
    .navbar a {
        font-size: 18px;
        padding: 5px, 8px;
    }
}