<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/projectsstyle.css">
    <title>Welcome to My Project Page</title>
</head>
<body>
    <div class="parallax-container">
        <div class="parallax-bg"></div>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/"> Home  </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/projects"> Projects </a></li>
            <li><a href="/contact"> Contact </a></li>
        </ul>
    </nav>
    <div class="container">
        <p class="text">What I Do...</p>
        
        <div class="content-wrapper">
            <main>
            <h1 class="main-heading">My <span>Projects</span></h1>
            <div class="project-container">
                <!-- Project cards will be dynamically inserted here -->
            </div>
            </main>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>

//Implement Project Refs 

// Add Filler Elements to Home 

// Add Filler Elements to Projects and About Page. 

// Check Hash map implementation for rust. 

